---
import Image from "astro/components/Image.astro";
import { getCollection } from "astro:content";

const articulos = await getCollection("articulos");

const HERO_SLUGS = [
  "nuestro-nombre",
  "las-infinitas-metaforas-del-amor",
  "sic-semper-tyrannis",
  "aceptacion-de-mi-persona",
  "regrese-del-otro-lado-del-cielo",
];

const news = articulos
  .filter((art) => HERO_SLUGS.includes(art.slug))
  .sort((a, b) => a.data.date.getTime() - b.data.date.getTime())
  .map((art) => ({
    slug: art.slug,
    title: art.data.title,
    subtitulo: art.data.subtitulo,
    categorias: art.data.categorias,
    imagen: art.data.imagen,
    responsive: art.data.responsive,
  }));
---

<section class="relative w-full h-svh overflow-hidden py-20">
  <div
    id="loader"
    class="absolute left-0 top-0 w-0.5 sm:w-1.25 h-full bg-white z-40 origin-top scale-y-0"
  >
  </div>
  <div class="absolute left-0 top-0 w-full h-svh bg-black/15 z-10"></div>
  <div
    class="absolute inset-0 w-full h-full overflow-hidden z-0 bg-neutral-800 hero-images"
  >
    {
      news.map((article, index) => (
        <picture
          data-index={index}
          data-title={article.title}
          data-slug={article.slug}
          class="hero-img absolute inset-0 w-full h-full"
        >
          {" "}
          {article.responsive && (
            <source srcset={article.responsive} media="(max-width: 768px)" />
          )}{" "}
          <Image
            src={article.imagen}
            width={768}
            height={1080}
            alt={article.title}
            class="w-full h-full object-cover hidden md:block"
          />
          <Image
            src={article.imagen}
            width={640}
            height={1080}
            alt={article.title}
            class="w-full h-full object-cover hidden sm:block md:hidden"
          />
          <Image
            src={article.imagen}
            width={1920}
            height={1080}
            alt={article.title}
            class="w-full h-full object-cover block sm:hidden"
          />
        </picture>
      ))
    }
  </div>
  <div
    class="absolute inset-x-0 bottom-[10%] sm:bottom-[15%] z-40 flex flex-col items-start gap-4 sm:gap-6 px-4 sm:px-10"
  >
    <div class="flex gap-2 md:gap-3 items-center justify-center">
      <button
        id="prev"
        aria-label="Contenido anterior"
        class="flex items-center justify-center border border-dashed border-white rounded-[.2rem] size-8 md:size-10 group bg-white hover:bg-transparent transition-colors duration-200 cursor-pointer"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#000"
          class="fill-black transition-colors duration-300"
          ><path d="M560-240 320-480l240-240 56 56-184 184 184 184-56 56Z"
          ></path></svg
        >
      </button>
      <p
        class="p-counter overflow-hidden text-white uppercase font-bold text-xl sm:text-2xl md:text-3xl select-none"
      >
        <span id="counter" style="filter: url(#threshold)">01</span> / 05
      </p>
      <button
        id="next"
        aria-label="Contenido siguiente"
        class="flex items-center justify-center border border-dashed border-white rounded-[.2rem] size-8 md:size-10 group bg-white hover:bg-transparent transition-colors duration-200 cursor-pointer"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          height="24px"
          viewBox="0 -960 960 960"
          width="24px"
          fill="#000"
          class="fill-black transition-colors duration-300"
          ><path d="M504-480 320-664l56-56 240 240-240 240-56-56 184-184Z"
          ></path></svg
        ></button
      >
    </div>
    <a
      id="morph-container"
      href={`/articulos/${news[0].slug}`}
      aria-label={`Leer artículo: ${news[0].title}`}
      class="relative w-full md:w-2xl min-h-12 sm:min-h-18 md:min-h-22 leading-none filter group cursor-pointer"
      style="filter: url(#threshold)"
    >
      <span class="sr-only">
        Leer artículo: {news[0].title}
      </span>

      <span
        id="text1"
        aria-hidden="true"
        class="absolute inset-0 flex sm:items-center font-heading font-semibold text-2xl sm:text-4xl md:text-6xl uppercase text-white"
      ></span>

      <span
        id="text2"
        aria-hidden="true"
        class="absolute inset-0 flex sm:items-center font-heading font-semibold text-2xl sm:text-4xl md:text-6xl uppercase text-white"
      ></span>
    </a>
  </div>
  <div
    class="absolute max-w-20 right-0 md:right-8 bottom-[17%] sm:bottom-[25%] md:top-1/2 -translate-y-1/2 z-40 flex flex-col items-end justify-end gap-4 sm:gap-6 px-4 sm:px-10"
  >
    <a
      id="link"
      href={`/articulos/${news[0].slug}`}
      aria-label="Ver artículo completo"
      class="group relative flex flex-col items-center gap-2 cursor-pointer"
    >
      <!-- ICONO -->
      <div
        class="relative p-1 sm:p-2 md:p-4 rounded-[.2rem] border border-dashed border-white bg-white md:bg-transparent group-hover:bg-white flex items-center justify-center transition-colors duration-200"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          height="64px"
          viewBox="0 -960 960 960"
          width="64px"
          fill="#000"
          style="filter: url(#threshold)"
          class="font-blob size-12 sm:size-16 md:size-20 lg:size-24 md:-rotate-12 group-hover:rotate-0 group-hover:blur-[0px] transition-all duration-300"
          ><path
            d="M673-446.67H160v-66.66h513l-240-240L480-800l320 320-320 320-47-46.67 240-240Z"
          ></path></svg
        >
      </div>

      <!-- LABEL -->
      <span
        class="hidden md:block text-xs sm:text-sm md:text-base font-medium text-white uppercase tracking-wide overflow-hidden"
      >
        <span
          class="relative after:absolute after:-bottom-1 after:left-0 after:h-1 after:w-full after:origin-bottom-right after:scale-x-100 md:after:scale-x-0 after:bg-white after:transition-transform after:duration-300 after:ease-[cubic-bezier(0.65_0.05_0.36_1)] group-hover:after:origin-bottom-left group-hover:after:scale-x-100"
        >
          Ver más
        </span>
      </span>
    </a>
  </div>

  <svg class="absolute w-0 h-0">
    <defs>
      <filter id="threshold">
        <feColorMatrix
          in="SourceGraphic"
          type="matrix"
          values=" 1 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 255 -140 "
        ></feColorMatrix>
      </filter>
    </defs>
  </svg>
</section>

<script>
  import { initHero } from "../scripts/hero";

  document.addEventListener("astro:page-load", () => {
    if (document.querySelector(".hero-img")) {
      initHero();
    }
  });
</script>
